/*
Theme Name: S-lombard
Author: Maksim Gavrilenko, Altukhov Ilya
*/

@font-face {
	font-family: NotoSerif-Regular;
	src: url(fonts/NotoSerif-Regular.woff) format('woff');
}

@font-face {
	font-family: NotoSerif-Bold;
	src: url(fonts/NotoSerif-Bold.woff) format('woff');
}

@font-face {
	font-family: Tenge;
	src: url(fonts/tenge.woff) format('woff');
}

* {
	box-sizing: border-box;
}

html,
body {
	min-width: 1200px;
}

body {
	font-size: 16px;
	margin: 0;
	font-family: NotoSerif-Regular;
}

header {
	height: 160px;
	width: 1200px;
	margin: auto;
	position: relative;
}

main {
	display: block;
}

footer {
	background-color: #c50006;
}

button {
	border: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
	vertical-align: top;
}

h2 {
	font-size: 24px;
	color: #c50006;
	text-align: center;
	font-family: NotoSerif-Bold;
	margin: 60px 0;
	font-weight: normal;
}

select {
	font-family: inherit;
}

input {
	font-family: inherit;

	&::placeholder {
		font-family: inherit;
	}
}

::-ms-expand {
	display: none;
}

.currency {
	font-family: Tenge;
}

.slick-dots {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;

	& > li {
		display: inline-block;
		border: 1px solid #917f4f;
		border-radius: 100%;
		width: 14px;
		height: 14px;
		position: relative;
		margin: 0 2px;

		&:after {
			content: '';
			position: absolute;
			top: 1px;
			right: 1px;
			bottom: 1px;
			left: 1px;
			border-radius: 100%;
			z-index: 1;
		}

		&.slick-active:after {
			background-color: #c50006;
		}

		& > button {
			font-size: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			border-radius: 100%;
			z-index: 2;
		}
	}
}

.header {

	&-contacts {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 400px;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: space-between;
		padding-right: 15px;

		&__item {
			color: #c50006;
			text-align: right;
			flex-basis: 172px;
			margin-top: 10px;
			margin-bottom: -10px;

			&_schedule {
				font-size: 18px;
				font-family: NotoSerif-Bold;
				background: url(imgs/schedule-gold.png) no-repeat 0 0;
			}

			&_phones {
				background: url(imgs/phone-gold.png) no-repeat 0 0;
			}

			&_lom {
				font-size: 18px;
				font-family: NotoSerif-Bold;
				background: url(imgs/mark-gold.png) no-repeat 0 0;
				margin-top: 20px;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			&_warn {
				background: url(imgs/warning-gold.png) no-repeat 0 0;
				margin-top: 20px;
			}

			& > span {
				color: #917f4f;
				display: block;
				font-size: 14px;
				font-weight: normal;
			}
		}

		&__a {
			text-decoration: none;
			color: #c50006;
			display: block;
			font-size: 14px;
			line-height: 22px;

			& > span {
				font-size: 18px;
				font-family: NotoSerif-Bold;
			}
		}
	}

	&-menu-cont {
		height: 40px;
		background-color: #c50006;

		&__inner {
			max-width: 1200px;
			margin: auto;
			padding: 0 10px;
			position: relative;
		}
	}
}

.main-menu {
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: top;

	&__li {
		display: inline-block;
		position: relative;

		&_evaluate > a:after {
			content: '˅';
			color: #fff;
			font-weight: bold;
			position: relative;
			padding-left: 10px;
		}

		&:hover ul {
			display: block;
		}
	}

	&__a {
		text-decoration: none;
		color: #fff;
		font-size: 14px;
		font-family: NotoSerif-Bold;
		padding: 0 18px;
		line-height: 40px;
		display: inline-block;

		&:hover {
			background-color: #917f4f;
		}
	}
}

.sub-menu {
	position: absolute;
	top: 40px;
	right: 0;
	left: 0;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: none;
	background-color: #fff;
	z-index: 1;

	&__a {
		text-decoration: none;
		color: #333333;
		display: block;
		font-family: NotoSerif-Bold;
		padding: 0 13px;
		font-size: 14px;
		line-height: 40px;
		height: 40px;

		&:hover {
			color: #fff;
			background-color: #917f4f;
		}
	}
}

.breadcrumbs {
	background-color: #f3f3f3;
	font-size: 10px;
	line-height: 52px;
	margin-bottom: 48px;

	&__inner {
		width: 1200px;
		margin: auto;
		padding: 0 15px;
	}

	&__link {
		text-decoration: none;
		color: #999999;
	}

	&__back-slash {
		color: #999999;
	}

	&__page-name {
		color: #917f4f;
	}
}

.order-call {
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	background: url(imgs/phone-white.png) no-repeat 12px 50%;
	padding-left: 49px;
	padding-right: 19px;
	font-family: NotoSerif-Bold;
	height: 40px;

	&:hover {
		background-color: #917f4f;
	}
}

.go-to-calc {
	display: inline-block;
	background: url(imgs/calc-white.png) no-repeat 50% 50%;
	width: 40px;
	height: 40px;

	&:hover {
		background-color: #917f4f;
	}
}

.show-search {
	background: url(imgs/search-white.png) no-repeat 50% 50%;
	width: 40px;
	height: 40px;

	&:hover {
		background-color: #917f4f;
	}
}

.search-field {
	position: absolute;
	display: none;
	font-size: 14px;
	font-family: NotoSerif-Regular;
	border: none;
	color: #4d4d4d;
	padding: 0 18px;
	line-height: 40px;
	top: 40px;
	right: 0;
	z-index: 2;
}

.logo-header {
	display: inline-block;
	border: none;
	width: 372px;
	height: 93px;
	background: url(imgs/logo-header.png) no-repeat 50% 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 15px;
	margin: auto;
}

.slider {
	white-space: nowrap;
	overflow: hidden;
	position: relative;

	&__items {
		height: 400px;
		position: relative;
		z-index: 0;
	}

	&__item {
		position: relative;
		height: 400px;
		display: inline-block;
		z-index: 1;
	}

	&__image {
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		height: 400px;
	}

	&__links {
		position: absolute;
		right: 0;
		bottom: 52px;
		left: 0;
	}

	&__link {
		display: block;
		color: #333333;
		font-size: 12px;
		text-decoration: none;
		height: 26px;
		line-height: 26px;
		width: 124px;
		text-align: center;
		border-radius: 3px;
		margin: 2px auto;
		background-color: #fff;
		font-family: NotoSerif-Regular;

		&:hover {
			background-color: #c50006;
			color: #fff;
		}
	}

	&__dots {
		position: absolute;
		right: 0;
		bottom: 4px;
		left: 0;
	}
}

.calc {
	padding: 27px 0 25px;

	&__input {
		border: 1px solid #999999;
		border-radius: 3px;
		height: 46px;
		width: 272px;
		vertical-align: top;
		padding: 0 18px;
	}

	&__inner {
		width: 1200px;
		margin: auto;
		padding: 0 15px;
	}

	&__title {
		font-size: 18px;
		color: #c50006;
		font-family: NotoSerif-Bold;
		display: inline-block;
		height: 46px;
		line-height: 23px;
		width: 180px;
	}

	&__select {
		width: 276px;
		padding: 0 18px;
		border-radius: 3px;
		border: 1px solid #999999;
		line-height: 46px;
		height: 46px;
		vertical-align: top;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: url(imgs/select-icon.png) no-repeat 96% 50%;
	}

	&__currency,
	&__days {
		color: #333333;
		font-size: 18px;
		vertical-align: top;
		line-height: 46px;
	}

	&__currency {
		margin-left: 15px;
		width: 106px;
		display: inline-block;
	}

	&__days {
		margin-left: 14px;
		width: 114px;
		display: inline-block;
	}

	&__calculate {
		font-family: NotoSerif-Bold;
		font-size: 14px;
		color: #fff;
		background-color: #917f4f;
		border-radius: 3px;
		height: 46px;
		line-height: 46px;
		width: 172px;
		text-decoration: none;
		display: inline-block;
		text-align: center;
		vertical-align: top;

		&:hover {
			background-color: #c50006;
		}
	}
}

.sale {
	border-top: 3px solid #c50006;

	&__items {
		overflow: hidden;
		width: 1200px;
		margin: auto;
		padding: 0 15px;
	}

	&__item {
		width: 16.6%;
		float: left;
		text-align: center;
		background-repeat: no-repeat;
		background-position: 50% 0;
		color: #333333;
		font-size: 18px;
		font-family: NotoSerif-Regular;
		padding-top: 98px;
		text-decoration: none;

		&_jevels {
			background-image: url(imgs/jewelry.png);
		}

		&_cellphones {
			background-image: url(imgs/cellphones.png);
		}

		&_notebooks {
			background-image: url(imgs/notebooks.png);
		}

		&_tv {
			background-image: url(imgs/tv.png);
		}

		&_digit {
			background-image: url(imgs/digital-tech.png);
		}

		&_fur {
			background-image: url(imgs/fur.png);
		}
	}
}

.catalog {
	width: 1200px;
	margin: 58px auto 47px;
	overflow: hidden;
	padding: 0 15px;

	&__search {
		width: 872px;
		height: 150px;
		border: 1px solid #b3b3b3;
		border-radius: 3px;
		padding-left: 20px;
		padding-top: 28px;
		padding-bottom: 43px;
		display: inline-block;
		vertical-align: top;

		&-title {
			color: #333333;
			font-size: 18px;
			font-family: NotoSerif-Regular;
			margin-bottom: 22px;
		}

		&-field {
			width: 663px;
			height: 42px;
			line-height: 42;
			padding: 0 18px;
			border: 1px solid #b3b3b3;
			border-radius: 3px;
		}

		&-button {
			color: #fff;
			border-radius: 3px;
			background-color: #917f4f;
			width: 150px;
			height: 42px;
			line-height: 42px;
			font-family: NotoSerif-Bold;
			margin-left: 14px;

			&:hover {
				background-color: #c50006;
			}
		}
	}

	&__sidebar {
		float: left;
		margin-left: 26px;
	}

	&__items {
		float: left;

		&-header {
			color: #333333;
			font-size: 18px;
			font-family: NotoSerif-Regular;
			margin: 55px 0 29px;
		}

		&-inner {
			width: 872px;
			overflow: hidden;
		}
	}

	&__inner {
		overflow: hidden;
		width: 872px;
		float: left;
		margin-bottom: 50px;
	}

	&__images {
		float: left;
		width: 472px;
	}

	&__main-image {
		width: 472px;
		height: 394px;
		border-radius: 3px;
		overflow: hidden;
		position: relative;

		&:hover:after {
			display: block;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: url(imgs/zoom-gray.png) no-repeat 50% 50%;
			display: none;
		}

		& > img {
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
			vertical-align: top;
		}
	}

	&__optional-images {
		overflow: hidden;
		margin-top: 15px;
	}

	&__optional-image {
		float: left;
		width: 80px;
		margin: 0 9px 18px;
		border-radius: 3px;
		overflow: hidden;
		position: relative;

		&:nth-child(5n+1) {
			margin-left: 0;
		}

		&:nth-child(5n+5) {
			margin-right: 0;
		}

		&:hover:before {
			display: none;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(255, 255, 255, 0.7);
		}

		&_current:before {
			display: none;
		}

		& img {
			max-width: 100%;
			height: auto;
			vertical-align: top;
		}
	}

	&__info {
		float: left;
		width: 400px;
		padding-left: 28px;
	}

	&__header {
		color: #333333;
		font-size: 24px;
		margin: 0;
	}

	&__category {
		font-size: 14px;
		color: #917f4f;
		margin-top: 40px;
	}

	&__price {
		margin-top: 30px;

		&-currency {
			font-family: Tenge;
		}

		&-value {
			color: #c50006;
			font-size: 36px;
		}
	}

	&__desc {
		margin: 40px 0 70px;

		& img {
			display: none;
		}
	}

	&__position {
		font-size: 10px;

		&-title {
			color: 	#999999;
		}

		&-value {
			color: #917f4f;
		}
	}

	&__date {
		font-size: 10px;
		margin-top: 12px;

		&-title {
			color: #999999;
		}

		&-value {
			color: #917f4f;
		}
	}

	&__tags {
		font-size: 10px;
		margin-top: 12px;

		&-title {
			color: #999999;
		}

		&-value {
			color: #917f4f;

			& > a {
				color: inherit;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__sort-by {
		display: inline-block;
		width: 242px;
	}

	&__button {
		color: #917f4f;
		font-size: 14px;
		font-family: NotoSerif-Regular;
		line-height: 26px;
		padding-left: 25px;
		background-repeat: no-repeat;
		background-position: 0 50%;

		&_cheap {
			background-image: url(imgs/cheaper-black.png);
		}

		&_expensive {
			background-image: url(imgs/exp-black.png);
			margin-left: 46px;
		}

		&_new {
			background-image: url(imgs/new-black.png);
			margin-left: 46px;
		}
	}

	&__item {
		width: 242px;
		float: left;
		border-bottom: 1px solid #cccccc;
		margin-bottom: 33px;
		margin-left: 36px;
		margin-right: 37px;

		&:nth-child(3n+1) {
			margin-left: 0;
		}

		&:nth-child(3n+3) {
			margin-right: 0;
		}

		&:hover {
			border-bottom-color: #917f4f;
		}

		&-image {
			width: 242px;
			height: 202px;
			border-radius: 3px;
			position: relative;

			& > img {
				max-width: 100%;
				max-height: 100%;
				object-fit: cover;
			}
		}

		&-image:hover > &-buttons {
			display: flex;
		}

		&-buttons {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			justify-content: center;
			align-items: center;
			opacity: .99;
			display: none;

			&:hover:before {
				background-color: rgba(0, 0, 0, 0.7);
				border-radius: 3px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: -1;
			}
		}

		&-button {
			width: 51px;
			height: 52px;
			background-repeat: no-repeat;
			background-position: 50% 0%;

			&:hover {
				background-position: 50% 100%;
			}

			&_zoom {
				background-image: url(imgs/zoom.png);
				margin-right: 7px;
			}

			&_call {
				background-image: url(imgs/call.png);
				margin-left: 7px;
			}
		}

		&-cat-name {
			color: #917f4f;
			font-size: 14px;
			margin-top: 20px;
		}

		&-name {
			font-size: 16px;
			color: #333333;
			line-height: 23px;
			height: 46px;
			overflow: hidden;
			margin-top: 26px;
			text-decoration: none;
			display: block;

			&:hover {
				text-decoration: underline;
			}
		}

		&-price {
			margin-right: 22px;
			margin-bottom: 26px;

			&-currency {
				font-family: Tenge;
				color: #917f4f;
			}

			&-value {
				font-size: 24px;
				color: #c50006;
				font-family: NotoSerif-Bold;
			}
		}
	}

	&__go-to-catalog {
		color: #fff;
		text-decoration: none;
		font-size: 14px;
		font-family: NotoSerif-Bold;
		display: inline-block;
		height: 46px;
		line-height: 46px;
		background-color: #917f4f;
		width: 242px;
		text-align: center;
		border-radius: 3px;
		margin-top: 33px;

		&:hover {
			background-color: #c50006;
		}
	}

	&__order {
		color: #fff;
		font-size: 14px;
		font-family: NotoSerif-Bold;
		background-color: #917f4f;
		line-height: 46px;
		width: 272px;
		border-radius: 3px;
		margin-top: 34px;

		&:hover {
			background-color: #c50006;
		}
	}
}

.filter {
	border-radius: 3px;
	border: 1px solid #b3b3b3;
	padding: 23px 16px 16px;
	width: 272px;
	margin-bottom: 27px;

	&__title {
		color: #333333;
		font-size: 18px;
	}

	&__road {
		position: relative;
		height: 18px;
		margin: 23px 18px 29px 0;
	}

	&__seek {
		width: 18px;
		height: 18px;
		border: 5px solid #c50006;
		border-radius: 9px;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #333333;
		cursor: pointer;

		&_max {
			left: auto;
			right: 0;
		}

		&:after {
			content: '';
			position: absolute;
			top: -5px;
			left: -5px;
			width: 18px;
			height: 18px;
			background-color: #fff;
			z-index: -1;
		}
	}

	&__space {
		height: 8px;
		margin-top: 5px;
		background-color: #917f4f;
		position: absolute;
		transform: translateX(7px);
	}

	&__line {
		overflow: hidden;
	}

	&__currency {
		display: inline-block;
		color: #917f4f;
		float: left;
		line-height: 20px;
		padding-right: 3px;
		padding-top: 0px;
	}

	&__range {
		display: inline-block;
		color: #333333;
		font-size: 16px;
		float: left;
		width: 139px;
	}

	&__button {
		width: 81px;
		height: 25px;
		color: #fff;
		background-color: #917f4f;
		margin-left: 4px;
		border-radius: 3px;
		font-family: NotoSerif-Regular;
		font-size: 14px;
		float: left;

		&:hover {
			background-color: #c50006;
		}
	}
}

.categories {
	width: 272px;

	&__header {
		color: #333333;
		font-size: 18px;
		padding-left: 22px;
		padding-bottom: 27px;
	}

	&__ul {
		padding: 0;
		margin: 0;
		list-style-type: none;

		& > li {
			border-bottom: 2px solid #b3b3b3;

			&:first-child {
				border-top: 2px solid #b3b3b3;
			}

			& > a {
				text-decoration: none;
				color: #917f4f;
				font-size: 14px;
				display: block;
				line-height: 48px;
				padding-left: 22px;

				&:hover {
					color: #c50006;
				}
			}
		}
	}
}

.why {
	border-top: 3px solid #c50006;
	overflow: hidden;
	text-align: center;

	.support + & {
		border-top: none;
	}

	&__items {
		width: 1200px;
		margin: auto;
		padding: 0 15px;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		flex-basis: 15.6%;
		text-align: center;
		background-repeat: no-repeat;
		background-position: 50% 0;
		text-align: center;
		font-size: 18px;
		color: #333333;
		float: left;
		padding-top: 118px;

		&_issuance {
			background-image: url(imgs/issuance.png);
		}

		&_valuation {
			background-image: url(imgs/valuation.png);
		}

		&_zero-percent {
			background-image: url(imgs/zero-percent.png);
		}

		&_benefit {
			background-image: url(imgs/benefit.png);
		}

		&_loans {
			background-image: url(imgs/loans.png);
		}

		&_time {
			background-image: url(imgs/time.png);
		}
	}

	&__get-money {
		border-radius: 3px;
		background-color: #917f4f;
		color: #fff;
		display: inline-block;
		font-size: 14px;
		font-family: NotoSerif-Bold;
		width: 372px;
		height: 47px;
		line-height: 47px;
		text-decoration: none;
		margin: 64px 0 53px;

		&:hover {
			background-color: #c50006;
		}
	}
}

.articles {
	overflow: hidden;
	background-color: #f3f3f3;
	padding-bottom: 120px;
	position: relative;

	&__items {
		width: 1200px;
		margin: auto;
		white-space: nowrap;
		overflow: hidden;
	}

	&__item {
		width: 400px;
		padding: 0 14px;
		display: inline-block;
		white-space: normal;

		&-inner {
			width: 372px;
			background-color: #fff;
		}

		&-image {
			width: 372px;
			height: 202px;

			& > img {
				max-width: 100%;
				max-height: 100%;
				object-fit: cover;
			}
		}

		&-date {
			color: #917f4f;
			font-size: 14px;
			margin-left: 35px;
			margin-top: 22px;
		}

		&-header {
			color: #c50006;
			font-size: 18px;
			line-height: 26px;
			height: 52px;
			margin-left: 35px;
			margin-top: 15px;
			overflow: hidden;
		}

		&-desc {
			color: #333333;
			font-size: 14px;
			line-height: 20px;
			height: 80px;
			overflow: hidden;
			margin: 19px 35px;
		}

		&-link {
			border-radius: 3px;
			color: #fff;
			font-size: 14px;
			background-color: #917f4f;
			font-family: NotoSerif-Bold;
			width: 81px;
			height: 26px;
			display: inline-block;
			line-height: 26px;
			text-align: center;
			text-decoration: none;
			margin: 19px 0 26px 35px;

			&:hover {
				background-color: #c50006;
			}
		}
	}

	&__dots {
		position: absolute;
		right: 0;
		bottom: 55px;
		left: 0;
	}
}

.contacts {
	overflow: hidden;
	background-color: #4d4d4d;
	color: #fff;

	&__contacts {
		float: left;
		width: 50%;
		height: 400px;
		position: relative;

		&-inner {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 600px;
			padding-left: 15px;
		}
	}

	&__header {
		color: #917f4f;
		font-size: 28px;
		font-family: NotoSerif-Bold;
		margin-top: 54px;
	}

	&__central-office {
		font-size: 18px;
		margin-top: 38px;
	}

	&__address {
		line-height: 30px;
		background: url(imgs/mark-colorful.png) no-repeat 0 50%;
		margin-top: 20px;
		padding-left: 46px;
	}

	&__phones {
		line-height: 30px;
		background: url(imgs/phone-colorful.png) no-repeat 0 50%;
		margin-top: 11px;
		padding-left: 46px;
	}

	&__phone {
		color: #fff;
		text-decoration: none;
	}

	&__schedule {
		line-height: 30px;
		background: url(imgs/schedule-colorful.png) no-repeat 0 50%;
		margin-top: 10px;
		padding-left: 46px;
	}

	&__manager-call {
		text-decoration: none;
		font-size: 14px;
		font-family: NotoSerif-Bold;
		display: inline-block;
		background-color: #917f4f;
		height: 41px;
		line-height: 41px;
		width: 272px;
		text-align: center;
		border-radius: 3px;
		color: #fff;
		margin-top: 29px;

		&:hover {
			background-color: #c50006;
		}
	}

	&__map {
		float: left;
		width: 50%;
		height: 400px;
		overflow: hidden;
	}
}

.map-mark {
	width: 32px;
	height: 48px;
	background: url(imgs/mark-red.png) no-repeat 50% 50%;
}

.footer {
	width: 1200px;
	margin: auto;
	padding: 37px 0 24px 15px;
	position: relative;

	&__logo {
		width: 265px;
		height: 67px;
		background: url(imgs/logo-footer.png) no-repeat 50% 50%;
		display: inline-block;
	}

	&__main-manu {
		margin-left: 70px;
	}

	& a {
		line-height: 67px;

		&:hover {
			background-color: transparent;
			color: #917f4f;
		}
	}
}

.year {
	font-size: 14px;
	font-family: NotoSerif-Bold;
	color: #fff;
	margin-top: 37px;
}

.copy {
	font-size: 14px;
	font-family: NotoSerif-Bold;
	color: #fff;
}

.social-menu {
	position: absolute;
	right: 24px;
	bottom: 24px;
	
	&__item {
		display: inline-block;
		height: 23px;
		background-position: 50% 0;
		background-repeat: no-repeat;

		&:hover {
			background-position: 50% -23px;
		}

		&_ok {
			background-image: url(imgs/ok.png);
			width: 15px;
		}

		&_vk {
			background-image: url(imgs/vk.png);
			width: 23px;
		}

		&_inst {
			background-image: url(imgs/inst.png);
			width: 24px;
		}
	}
}

.conditions {
	width: 1200px;
	margin: auto;
	padding: 0 15px;

	&__banner {
		height: 302px;
		background: url(imgs/conditions-banner.png) no-repeat 50% 50% / cover;
	}

	&__header {
		text-align: left;
		margin: 60px 0 40px;
	}

	&__items {
		overflow: hidden;
		font-size: 14px;
		color: #333333;
	}

	&__item {
		float: left;
		width: 50%;

		&_l {
			padding-right: 10px;
		}

		&_r {
			padding-left: 10px;
		}
	}

	&__images {
		display: flex;
		justify-content: space-around;
		margin-top: 60px;
	}

	&__image {
		flex-basis: 24%;
		vertical-align: top;
	}
}

.how {
	background: #f3f3f3 url(imgs/wtf.png) no-repeat 50% 44px;
	padding-top: 124px;

	&__inner {
		width: 1200px;
		margin: auto;
		padding: 15px;
	}

	&__header {
		color: #333333;
		font-size: 18px;
		text-align: center;
	}

	&__items {
		overflow: hidden;
		margin-top: 30px;
	}

	&__item {
		float: left;
		width: 50%;

		&_l {
			padding-right: 10px;
		}

		&_r {
			padding-left: 10px;
		}

		& > p {
			font-size: 14px;
		}

		& > p:before {
			content: '●';
			color: #c50006;
			padding-right: 10px;
		}
	}
}

.rules {
	text-align: center;
	padding: 50px 0 ;
	
	&__header {
		color: #333333;
		font-size: 18px;
	}

	&__link {
		margin-top: 30px;
		display: inline-block;
		color: #fff;
		font-size: 14px;
		font-family: NotoSerif-Bold;
		border-radius: 3px;
		text-decoration: none;
		height: 46px;
		line-height: 46px;
		width: 372px;
		text-align: center;
		background-color: #917f4f;
	}
}

.red-star {
	color: #c50006;
}

.rate {
	&__inner {
		width: 1200px;
		margin: auto;
		padding: 0 15px;
	}

	&__header {
		text-align: left;
		margin-bottom: 10px;
	}

	&__desc {
		color: #333333;
		font-size: 14px;
		margin-bottom: 15px;
	}
}

.rate-form {
	background-color: #f3f3f3;
	padding: 46px 0 105px;

	&__inner {
		width: 1200px;
		margin: auto;
		padding: 0 15px;
	}

	&__note {
		color: #999999;
		font-size: 10px;
		margin-bottom: 35px;
	}

	&__line {
		overflow: hidden;
		margin-top: 23px;
	}

	&__desc {
		float: left;
		width: 290px;
		color: #333333;
		line-height: 46px;

		&_cat {
			font-size: 18px;
			font-family: NotoSerif-Bold;
		}
	}

	&__control {
		float: left;
		font-size: 14px;

		&_photo {
			line-height: 46px;
		}

		&_rate {
			line-height: 46px;
		}

		&_go-to {
			line-height: 46px;
		}

		&-text {
			line-height: 14px;
			color: #999999;
			font-size: 10px;
			display: inline-block;
			vertical-align: middle;
			padding-left: 5px;
		}
	}

	&__label {
		display: inline-block;

		&_file {
			color: #fff;
			background-color: #c50006;
			border-radius: 3px;
			font-size: 14px;
			font-family: NotoSerif-Bold;
			height: 26px;
			line-height: 26px;
			width: 172px;
			text-align: center;
			position: relative;
			overflow: hidden;
			vertical-align: top;
			margin-top: 10px;
		}

		&_radio {
			width: 150px;
		}

		&_checkbox {
			width: 150px;
		}
	}

	&__select {
		border-radius: 3px;
		border: 1px solid #999999;
		color: #333333;
		font-size: 14px;
		height: 46px;
		line-height: 46px;
		padding: 0 18px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		display: block;
		width: 880px;
		background: url(imgs/select-icon.png) no-repeat 98.5% 50%;
	}

	&__input {
		border-radius: 3px;
		border: 1px solid #999999;
		height: 46px;
		line-height: 46px;
		padding: 0 18px;
		display: inline-block;

		&_goods {
			width: 880px;
		}

		&_name {
			width: 880px;
		}

		&_phone {
			width: 372px;
			margin-right: 20px;
		}

		&_email {
			width: 372px;
			margin-right: 20px;
		}

		&_captcha {
			vertical-align: top;
			margin: 0 23px;
		}
	}

	&__file {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		cursor: pointer;
	}

	&__textarea {
		resize: none;
		border: 1px solid #999999;
		border-radius: 3px;
		height: 92px;
		display: block;
		width: 880px;
		padding: 18px;
	}

	&__checkbox {
		line-height: 46px;
	}

	&__captcha {
		display: inline-block;
		border-radius: 3px;
		overflow: hidden;

		& > img {
			vertical-align: top;
		}
	}

	&__button {
		height: 46px;
		line-height: 46px;
		color: #fff;
		font-family: NotoSerif-Bold;
		background-color: #917f4f;
		border-radius: 3px;
		padding: 0 18px;

		&:hover {
			background-color: #c50006;
		}
	}
}

.about {
	&__banner {
		width: 1170px;
		margin: auto;
		height: 302px;
		background: url(imgs/about-banner.png) no-repeat 50% 50% / cover;
	}

	&__items {
		overflow: hidden;
		width: 1170px;
		margin: 48px auto 0;
	}

	&__item {
		float: left;
		width: 50%;
	}

	&__p {
		font-size: 14px;
		color: #333333;
		padding-right: 20px;
	}

	&__header {
		text-align: left;
		margin: 10px 0 0;
	}
}

.principles {
	&__header {
		font-size: 18px;
		color: #333333;
		margin-top: 55px;
	}

	&__items {
		overflow: hidden;
	}

	&__item {
		color: #333333;
		margin-top: 23px;
		float: left;

		&:before {
			content: '●';
			color: #c50006;
			margin-right: 3px;
		}

		&:nth-child(odd) {
			width: 55%;
		}


	}
}

.in-our {
	background-color: #f3f3f3;
	padding-top: 40px;

	&__header {
		color: #333333;
		font-size: 18px;
		padding-left: 55px;
	}

	&__items {
		overflow: hidden;
		padding-top: 25px;
		padding-bottom: 40px;
	}

	&__item {
		font-size: 14px;
		color: #333333;
		float: left;
		width: 50%;
		padding-left: 55px;
		line-height: 20px;

		&:before {
			content: '●';
			color: #c50006;
			margin-right: 3px;
		}
	}

	&__image {
		width: 600px;
		height: 177px;
		background: url(imgs/in-our-image.png) no-repeat 50% 50%;
	}
}

.min-docs {
	text-align: center;padding: 130px 0 75px;
	background: url(imgs/attention.png) no-repeat 50% 42px;

	&__header {
		font-size: 18px;
		color: #333333;
	}

	&__text {
		font-size: 14px;
		margin-top: 18px;
	}
}

.refinance {
	text-align: center;
	padding: 130px 0 75px;
	background: #f3f3f3 url(imgs/crab.png) no-repeat 50% 42px;

	&__header {
		font-size: 18px;
		color: #333333;
	}

	&__text {
		font-size: 14px;
		color: #333333;
		margin-top: 18px;
	}
}

.support {
	background-color: #917f4f;
	text-align: center;
	line-height: 100px;

	&__text {
		color: #fff;
		font-size: 18px;
		display: inline-block;
	}

	&__button {
		color: #fff;
		font-size: 14px;
		font-family: NotoSerif-Bold;
		background-color: #4d4d4d;
		border-radius: 3px;
		display: inline-block;
		height: 46px;
		line-height: 46px;
		padding: 0 18px;
		vertical-align: middle;
		margin-left: 70px;
		position: relative;
		top: -1px;

		&:hover {
			background-color: #c50006;
		}
	}
}

.alert {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	display: none;
	z-index: 2001;

	&__close-div {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}

	&__box {
		color: #fff;
		position: relative;
		background-color: #c50006;
		border-radius: 3px;
		font-size: 14px;
		height: 200px;
		width: 350px;
		padding: 30px;
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 27px;
		height: 27px;
		background: url(imgs/close-gray.png) no-repeat 50% 50%;
	}

	&__header {
		font-size: 24px;
		font-family: NotoSerif-Bold;
	}
}

.calc-page {
	&__items {
		width: 1200px;
		margin: auto;
		overflow: hidden;
		border-top: 2px solid #c50006;
		padding: 46px 15px 100px;
	}

	&__item {
		float: left;
		width: 50%;

		&_r {
			padding-top: 10px;
		}

		& > p {
			color: #333333;
			font-size: 14px;
			margin: 0;
		}
	}

	&__header {
		text-align: left;
		margin-bottom: 55px;
		margin-top: 0;
	}

	&__res {
		margin-top: 10px;
		color: #c50006;
		font-size: 24px;
		font-family: NotoSerif-Bold;
	}

	&__phones {
		color: #c50006;
	}

	&__phone {
		color: #c50006;
		font-size: 18px;
		text-decoration: none;
	}

	&__button {
		color: #fff;
		background-color: #917f4f;
		border-radius: 3px;
		padding: 0 18px;
		font-family: NotoSerif-Bold;
		font-size: 14px;
		height: 46px;
		line-height: 46px;
		margin-top: 25px;

		&:hover {
			background-color: #c50006;
		}
	}
}

.jevels-rate {
	&__inner {
		width: 1200px;
		margin: auto;
		border-bottom: 2px solid #917f4f;
		padding: 27px 15px 25px;
	}

	&__mode {
		width: 180px;
		display: inline-block;
		color: #333333;
		font-size: 18px;
		font-family: NotoSerif-Bold;
	}

	&__weight-title {
		font-size: 14px;
		color: #333333;
		display: inline-block;
		line-height: 46px;
		vertical-align: top;
		margin-left: 15px;
		width: 106px;
	}

	&__quality {
		display: inline-block;
		line-height: 46px;
		vertical-align: top;
		margin-left: 15px;
		width: 113px;
		font-size: 14px;
	}

	&_q {
		width: 17px;
		height: 46px;
		background: url(imgs/q.png) no-repeat 50% 50%;
		margin-left: 5px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		cursor: pointer;

		&-text {
			position: absolute;
			display: block;
			line-height: 1;
			width: 300px;
			background-color: #917f4f;
			padding: 15px;
			top: -101px;
			right: -50px;
			color: #fff;
			display: none;

			&:after {
				content: '';
				width: 0;
				height: 0;
				display: block;
				position: absolute;
				border-width: 16px;
				border-style: solid;
				border-color: #917f4f transparent transparent;
				bottom: -32px;
				right: 43px;
			}
		}
	}

	&__button {
		border-radius: 3px;
		color: #fff;
		background-color: #917f4f;
		height: 46px;
		font-size: 14px;
		font-family: NotoSerif-Bold;
		width: 172px;
		line-height: 19px;
		padding: 0 18px;

		&:hover {
			background-color: #c50006;
		}
	}

	input[type=radio]:checked + span {
		color: #c50006;
	}

	.calc__currency,
	.calc__days {
		font-size: 14px;
	}
}

.contacts-page {
	&__inner {
		width: 1200px;
		margin: auto;
		padding: 0 15px;
	}

	&__map {
		height: 300px;
		overflow: hidden;
	}

	&__header {
		text-align: left;
	}

	&__items {
		overflow: hidden;
	}

	&__item {
		float: left;
		width: 50%;
		color: #333333;
		font-size: 14px;

		&-header {
			font-size: 18px;
			margin-bottom: 20px;
		}
	}

	&__address {
		background: url(imgs/mark-colorful-1.png) no-repeat 0 50%;
		margin-top: 11px;
		padding-left: 45px;
		line-height: 30px;
	}

	&__phones {
		background: url(imgs/phone-colorful-1.png) no-repeat 0 50%;
		margin-top: 11px;
		padding-left: 45px;
		line-height: 30px;
		display: block;
	}

	&__phone {
		color: inherit;
		text-decoration: none;
	}

	&__schedule {
		background: url(imgs/schedule-colorful-1.png) no-repeat 0 50%;
		margin-top: 11px;
		padding-left: 45px;
		line-height: 30px;
	}

	&__control {
		color: #333333;
		margin-top: 46px;
	}

	&__call {
		background-color: #4d4d4d;
		text-align: center;
		margin-top: 74px;
		padding: 50px 0;

		&-header {
			color: #fff;
			font-size: 18px;
		}

		&-button {
			color: #fff;
			font-size: 14px;
			font-family: NotoSerif-Bold;
			border-radius: 3px;
			background-color: #917f4f;
			line-height: 46px;
			height: 46px;
			width: 272px;
			text-align: center;
			margin: 34px auto 0;

			&:hover {
				background-color: #c50006;
			}
		}
	}
}

.call {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 2000;

	&__close-div {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}

	&__inner {
		position: relative;
		background-color: #fff;
		color: #333333;
		font-size: 14px;
		width: 350px;
		border-radius: 3px;
		padding: 30px 17px 17px;
	}

	&__close {
		width: 27px;
		height: 27px;
		background: url(imgs/close-gray.png) no-repeat 50% 50%;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	&__header {
		color: #c50006;
		font-size: 24px;
		font-family: NotoSerif-Bold;
		padding-left: 15px;
	}

	&__text {
		padding-left: 15px;
		margin-top: 14px;
		margin-bottom: 2px;
	}

	&__line_schedule {
		overflow: hidden;
	}

	&__pre-input {
		display: block;
		padding-left: 15px;
		margin-top: 14px;
	}

	&__input {
		border: 1px solid #999999;
		border-radius: 3px;
		height: 46px;
		line-height: 46px;
		padding: 0 18px;
		width: 316px;
	}

	&__pre-select {
		display: inline-block;
		width: 20%;
		float: left;
		line-height: 46px;
		padding-left: 15px;

		&_before {
			padding-left: 25px;
		}
	}

	&__select {
		height: 46px;
		line-height: 46px;
		border: 1px solid #999999;
		border-radius: 3px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 30%;
		float: left;
		background: url(imgs/select-icon.png) no-repeat 85% 50%;
		padding-left: 10px;
	}

	&__textarea {
		border: 1px solid #999999;
		border-radius: 3px;
		height: 98px;
		width: 316px;
		resize: none;
		display: inline-block;
		padding: 18px;
		margin-top: 14px;
		display: none;
	}

	&__button {
		border-radius: 3px;
		color: #fff;
		font-size: 14px;
		font-family: NotoSerif-Bold;
		height: 46px;
		background-color: #917f4f;
		width: 316px;
		margin-top: 10px;

		&:hover {
			background-color: #c50006;
		}
	}
}

.articles-page {
	width: 1200px;
	margin: auto;
	padding: 0 15px;

	&__header {
		margin: 0;
		color: #c50006;
		font-size: 24px;
		text-align: left;
	}

	&__desc {
		font-size: 14px;
		color: #333333;
		margin-top: 15px;
	}

	&__inner {
		overflow: hidden;
	}

	&__items {
		float: left;
		width: 872px;
	}

	&__item {
		margin: 100px 0;

		&-header {
			color: #c50006;
			font-size: 24px;
			font-family: NotoSerif-Bold;
		}

		&-meta {
			color: #917f4f;
			font-size: 14px;
			margin-top: 30px;
		}

		&-author {
			display: inline-block;
			background: url(imgs/author-black.png) no-repeat 0 50%;
			padding-left: 25px;
			padding-right: 30px;
			line-height: 19px;
		}

		&-date {
			display: inline-block;
			background: url(imgs/calendar-black.png) no-repeat 0 50%;
			padding-left: 28px;
			padding-right: 30px;
			line-height: 19px;
		}

		&-cat {
			display: inline-block;
			background: url(imgs/cat-black.png) no-repeat 0 50%;
			padding-left: 26px;
			line-height: 19px;
		}

		&-image {
			margin-top: 45px;
		}

		&-image > img{
			max-width: 100%;
			height: auto;
		}

		&-desc {
			color: #333333;
			font-size: 14px;
			margin-top: 45px;
		}

		&-link {
			text-decoration: none;
			background-color: #917f4f;
			color: #fff;
			font-size: 14px;
			font-family: NotoSerif-Bold;
			height: 26px;
			line-height: 26px;
			border-radius: 3px;
			display: block;
			width: 82px;
			text-align: center;
			margin-top: 30px;

			&:hover {
				background-color: #c50006;
			}
		}
	}

	&__sidebar {
		width: 272px;
		float: left;
		margin-left: 26px;

		&-search {
			position: relative;
		}

		&-field {
			display: block;
			width: 272px;
			height: 46px;
			line-height: 46px;
			border-radius: 3px;
			border: 1px solid #999999;
			padding: 0 18px;
		}

		&-button {
			background: url(imgs/search-gold.png) no-repeat 50% 50%;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 0;
			right: 10px;
			bottom: 0;
			margin: auto;
		}

		&-nav {
			margin-top: 85px;

			&-header {
				color: #333333;
				font-size: 18px;
				padding-left: 20px;
			}

			&-menu {
				list-style-type: none;
				margin: 30px 0 0;
				padding: 0;

				& > li {
					border-bottom: 1px solid #b3b3b3;

					&:first-child {
						border-top: 1px solid #b3b3b3;
					}

					& > a {
						color: #917f4f;
						font-size: 14px;
						line-height: 48px;
						display: block;
						text-decoration: none;
						padding-left: 20px;

						&:hover {
							color: #c50006;
						}
					}
				}
			}
		}

		&-interest {
			margin: 150px 0 100px;

			&-header {
				color: #333333;
				font-size: 18px;
				padding-left: 20px;
			}

			&-items {
				margin-top: 30px;
			}

			&-item {
				border-bottom: 1px solid #b3b3b3;
				padding: 18px 20px;

				&:first-child {
					border-top: 1px solid #b3b3b3;
				}
			}

			&-date {
				color: #917f4f;
				font-size: 14px;
			}

			&-link {
				text-decoration: none;
				color: #c50006;
				font-size: 14px;
				line-height: 20px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.article {
	width: 1200px;
	margin: auto;
	padding: 0 15px;
	
	&__inner {
		overflow: hidden;
	}

	&__single {
		float: left;
		width: 872px;
		padding: 0 97px 0 0;
	}

	&__header {
		color: #c50006;
		margin: 0;
	}

	&__meta {
		margin-top: 30px;
	}

	&__image {
		margin-top: 85px;

		& > img {
			max-width: 100%;
			max-height: 100%;
			vertical-align: top;
		}
	}

	&__desc {
		margin-top: 50px;
	}

	&__content {
		margin-top: 50px;
	}

	&__share {
		text-align: right;
		margin-top: 50px;

		&-title {
			color: #917f4f;
			font-size: 14px;
			vertical-align: top;
			padding-top: 6px;
			display: inline-block;
		}
	}

	&__nav {
		text-align: center;
		margin: 70px 0 100px;
		display: flex;

		&-item {
			&_center {
				flex-basis: 293px;
			}

			&_prev {
				flex-basis: 241px;
				
				& > a {
					border-right: 1px solid #b3b3b3;
					background: url(imgs/arrow-left-gray.png) no-repeat 0 50%;
				}
			}

			&_next {
				flex-basis: 241px;
				
				& > a {
					border-left: 1px solid #b3b3b3;
					background: url(imgs/arrow-right-gray.png) no-repeat 100% 50%;
				}
			}

			& > a {
				text-decoration: none;
				color: #917f4f;
				font-size: 18px;
				display: block;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.pluso {
	vertical-align: top;
}

.float-button {
	background: url(imgs/call-button.png) no-repeat 50% 50%;
	position: absolute;
	width: 72px;
	height: 71px;

	&__cont {
		position: absolute;
		top: 500px;
		right: 10px;
		width: 72px;
		height: 71px;
		z-index: 2;
		opacity: .99;
		transform: translateZ(0);
	}
}

.page {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto 100px;
}

.content {
	color: #333333;
	font-size: 14px;

	& ul {
		list-style-type: none;
		padding-left: 0;
	}

	& ul li:before {
		content: '•';
		color: #c50006;
		padding-right: 15px;
	}

	h1, h2, h3, h4, h5, h6 {
		font-size: 18px;
		text-align: left;
	}

	a {
		color: inherit;
	}

	img.alignleft {
		text-align: left;
	}

	img.aligncenter {
		display: block;
		margin: auto;
	}

	img.alignright {
		text-align: right;
	}
}

.image {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 2000;

	&__close-div {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}

	&__inner {
		position: relative;
		border-radius: 3px;
		overflow: hidden;
	}

	&__close {
		width: 27px;
		height: 27px;
		position: absolute;
		top: 15px;
		right: 15px;
		background: url(imgs/close-gray.png) no-repeat 50% 50%;
	}

	&__button {
		width: 12px;
		height: 17px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;

		&_prev {
			background-image: url(imgs/arrow-left-white.png);
			left: 20px;
		}

		&_next {
			background-image: url(imgs/arrow-right-white.png);
			right: 20px;
		}
	}

	img {
		height: auto;
	}
}

.search-form {
	width: 570px;
	margin-bottom: 40px;

	&__header {
		color: #c50006;
		font-size: 24px;
		font-family: NotoSerif-Bold;
		margin-bottom: 40px;
	}

	&__form {
		position: relative;
	}

	&__input {
		height: 46px;
		line-height: 46px;
		padding: 0 18px;
		border-radius: 3px;
		border: 1px solid #999999;
		width: 570px;
	}

	&__button {
		width: 25px;
		height: 25px;
		background: url(imgs/search-gold.png) no-repeat 50% 50%;
		position: absolute;
		top: 0;
		right: 10px;
		bottom: 0;
		margin: auto;
	}
}

.search {
	&__header {
		font-size: 24px;
	}
}

.search-item {
	border-bottom: 1px solid #b3b3b3;
	width: 865px;
	margin-top: 40px;
	padding-bottom: 25px;

	&__header {
		color: #c50006;
		font-size: 18px;
		text-decoration: none;
	}

	&__desc {
		color: #333333;
		margin-top: 15px;
	}
}

.pagination {
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	color: #917f4f;
	margin: 75px auto;

	a.page-numbers {
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}

	.page-numbers {
		padding: 0 10px;
		border-left: 1px solid #b3b3b3;

		&:first-child {
			border-left: none;
		}
	}

	.prev {
		display: inline-block;
		width: 11px;
		height: 17px;
		background: url(imgs/arrow-left-gray.png) no-repeat 50% 50%;
		border-left: none;
	}

	.next {
		display: inline-block;
		width: 12px;
		height: 17px;
		background: url(imgs/arrow-right-gray.png) no-repeat 50% 50%;
		border-left: none;
	}

	.current {
		color: #c50006;
		font-family: NotoSerif-Bold;
	}

	.prev + span,
	.prev + a {
		border-left: none;
	}
}

.similar {
	width: 1200px;
	margin: 0 auto 100px;
	border-top: 1px solid #b3b3b3;
	overflow: hidden;

	&__header {
		text-align: center;
		color: #333333;
		font-size: 18px;
		margin: 50px 0 90px;
	}

	&__items {
		overflow: hidden;
	}

	&__items .catalog__item {
		margin-right: 58px;
		margin-left: 0;

		&:nth-child(4n+1) {
			margin-left: 29px;
		}

		&:nth-child(4n+4) {
			margin-right: 29px;
		}
	}
}